<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>All Clients</title>
    <link href="../static/css/cssStyle.css" th:href="@{/css/cssStyle.css}" rel="stylesheet" />
</head>
<body>


<table>
    <thead>
    <tr>
        <th> ID </th>
        <th> First Name </th>
        <th> Last Name </th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${allClients.empty}">
        <td colspan="2"> No clients present </td>
    </tr>
    <tr th:each="client : ${allClients}">
        <td><span th:text="${client.id}"> Client id </span></td>
        <td><span th:text="${client.firstName}"> First Name </span></td>
        <td><span th:text="${client.lastName}"> Last Name </span></td>
    </tr>
    </tbody>
</table>

</body>
</html>